body {
    width: 100%;
    min-height: 110%;
    background: #22baab;

}
nav{
    justify-content: space-between;
    padding: 2px 8%;
    background-color: #333;
}
.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}





section img{
    height: 200px;
    border-radius: 100%;
    margin-bottom: 40px;
    display: inline;
    display: block;
    margin-right: auto;
    
}

section p{background: #333;
    padding: 10px 20px;
    color: #f8eded;
    text-align: left;
    

}

.nav-list {
    font-display: none;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 50px;
    font-weight: 550;
    color: rgb(234, 226, 226); 
    font-size: 2px;
    text-transform: uppercase;

    
    
    

    

}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    padding: 0px 0;
    color: #0d0b0b;
    text-align: center;
}
footer p {
    color: #070707;
    font-size: 150x;
}

