body{
    font-family: 'roboto', sans-serif;
    line-height: 1,8;
    margin: 0%;
    padding: 0%;
    color: #f4f7fa;
    background-color: hsl(210, 81%, 92%);
}
header{
    background-color:hsl(180, 25%, 76%);
    text-align: center;
    padding: 20px;
}
header img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    zoom: 1.5;
}
header h1{
    margin: 10px;
    color: #14172c;
}
header p{
    font-size: 16px;
    color: #021f22;
}
section{
    background-color:rgb(124, 169, 166);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#about{
    line-height: 30px;
    padding: 11px;
    font-size: 20px;
}
#about h2{
    color: #02293b;
    margin-bottom: 2px;
}


footer {
    background-color: rgb(130, 204, 203);
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

footer a {
    color: rgb(155, 197, 201);
    text-decoration: none;
}


